/**
 *
 * @author: Lê Vĩnh Thiện - GMO Runsystem
 * @date: 13/07/16
 * 
 */
.color-white {
	color: #fff !important;
}
.fixed-style {
	background-color: #673AB7;
	padding: 30px;
	margin-top: 72px;
}
.main {
	padding-top: 50px;
}
.main h3 {
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 0px 15px 0px;
	position: relative;
	margin-bottom: 50px;
}
.main h3:before, h3:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 100%;
}
.main h3:before {
	right: 100%;
}
.main h3:after {
	left: 100%;
}
.main>div>div {
	overflow: hidden;
	text-align: center;
}
.main-column p{
	height: 60px;
	overflow-y: hidden;
	transition: 0.15s;
	padding: 10px;
}
.main-column p:hover {
	cursor: pointer;
	font-size: 1.4em;
}